{% extends "base.html" %}
{% load staticfiles %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
<p>Your new blog is saved: <strong>{{ query }}</strong></p>
{% block content %}
{% if books %}
    <p>Found {{ blogs|length }} blog{{ blogs|pluralize }}.</p>
    <ul>
        {% for blog in books %}
        <li>{{ blog.name }}</li>
        <li>{{ blog.tagline }}</li>
        {% endfor %}
    </ul>
{% else %}
    <p>No blogs </p>
{% endif %}
{% endblock %}